<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADTAA Prompt</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/dead_end_page.css') }}"
    />
  </head>
  <body>
    <img
      src="/static/images/right_img_background.svg"
      alt="random shape"
      class="right-img-bg"
    />
    <img
      src="/static/images/left_img_background.svg"
      alt="random shape"
      class="left-img-bg"
    />
    <div class="container">
      <p class="error-msg">{{ msg }}</p>
    </div>
  </body>
</html>
