@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

.background-setup {
    position: relative;
    width: 100vw;
    height: 100vh;
    
    /* for table container */
    /* display: flex;
    justify-content: center; */
}

/* BANNER */
.banner {
    background: linear-gradient(90deg, #732D40 0%, #A87D89 100%);
    position: absolute;
    top: 0rem;
    height: 20%;
    min-width: 100vw;
}
.gear-background {
    position: absolute;
    right: 0rem;
    top: 0rem;
}


.table-container {
    
    width: max-content;
    height: max-content;
    padding: 1rem;
    z-index: 1;
    
    
    position: absolute;
    top: 12%;
    left: 25%;

    border: 1px solid green;
    /* align-self: center; */
}