@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

.background-setup {
  position: relative;
  width: 100vw;
  height: 180vh;
  background-color: rgb(231, 235, 240);
  

  /* for table container */
  /* display: flex;
    justify-content: center; */
}

/* BANNER */
.banner {
  background: linear-gradient(90deg, #732d40 0%, #a87d89 100%);
  /* background: linear-gradient(90deg, #a87d89 0%, #732d40 100%); */
  position: absolute;
  top: 0rem;
  height: 22vh;
  min-width: 100vw;
}
.gear-background {
  position: absolute;
  right: 0rem;
  top: 0rem;
}

/* 1050px and below 1050px width */
/* @media all and (max-width: 1150px) {
  .table-container {
    display: none;
  }
} */

@media all and (max-height: 620px) {
  .table-container {
    display: none;
  }
}

/* 900px and above 900px height */
@media all and (min-height: 900px) {
  .table-container {
    top: 10% !important;
    /* border: 1px solid blue !important; */
  }
  .banner img {
    height: 13vh !important;
  }
}

.banner img {
  height: 15vh;
}
.table-container {
  width: max-content;
  height: max-content;
  /* min-width: 65vw;
  min-height: 65vh; */
  /* padding: 1rem; */
  z-index: 1;

  position: absolute;
  top: 7%;
  left: 20%;

  /* border: 1px solid green; */
  /* align-self: center; */
}
