@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

.background-requests {
  position: relative;
  width: 100vw;
  height: 100vh;

  /* for table container */
  /* display: flex;
    justify-content: center; */
}

.btn-approve {
  background-color: #28a745 !important;
  border-radius: 10px !important; 
  border: 0px !important;
  padding: 0.5rem 0.8rem !important;
  margin-right: 0.5rem !important;
  cursor: pointer !important;
  /* text-transform: none !important; */
  min-width: auto !important;
}

.btn-deny {
  background: #a74628 !important;
  border-radius: 10px !important;
  border: 0px !important;
  padding: 0.5rem 0.9rem !important;
  cursor: pointer !important;
  min-width: auto !important;
}
